.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%; 
    margin: 30px auto; 
    overflow: hidden; 
    border-radius: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    z-index: 1; 
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out; 
    height: 100%; 
}

.carousel-image {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 30px; 
    flex-shrink: 0; 
}

.arrow {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    font-size: 2.5rem; 
    color: #073B3A; 
    cursor: pointer;
    z-index: 2; 
    opacity: 0.8; 
    transition: opacity 0.3s;
}

.arrow:hover {
    opacity: 1; 
}

.left-arrow {
    left: 0; 
    margin-left: 10px; 
}

.right-arrow {
    right: 0; 
    margin-right: 10px;
}