footer {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    background-color: #073B3A; 
    color: #F9EAE1; 
    padding: 5% 20px;
    flex-wrap: wrap; 
}

.footer-column {
    flex: 1; 
    margin: 0 10px; 
    min-width: 200px; 
}

footer > .footer-column > img {
    max-width: 50%; 
    height: auto;
    margin-bottom: 10px;
    
}

.footer-column h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: normal;
}

.footer-column p, 
.footer-column ul, 
.footer-column li {
    margin: 5px 0;
    font-size: 0.9em;
    font-family: Commissioner, Avenir, Helvetica, Arial, sans-serif;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column a {
    color: #F9EAE1; 
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
    color: #C95600;
}