
header {
    position: relative; 
    z-index: 10;  
    background: #073B3A;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: stretch;
    min-height: 55px;
    width: 100%;
    padding: 0%;
    padding-top: 1.5%;
    font-family: Commissioner, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #F9EAE1;
    object-fit: fill;
  }
  
  header > .top-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 1%;
    padding-bottom: 0%;
    gap: 5%;
    box-sizing: border-box;
  }
  
  header > .top-bar > img {
    width: 20%;
    transform: translateY(10%);
    flex-shrink: 0;
}

  header > .top-bar > .search-container {
    position: relative;
    width: 60%;
    margin-bottom: 10px;
    flex-grow: 1;
  }
  
  header > .top-bar > .search-container > input {
    width: 100%;
    min-height: fit-content;
    height:3em;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5em 2.5em 0.5em 1em;
    background-color: #F9EAE1;
    font-family: Commissioner, Avenir, Helvetica, Arial, sans-serif;
    color: #073B3A;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
  }
  
  header > .top-bar > .search-container > .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #073B3A;
    size: 100%;
  }
  
  header > .top-bar > .user-actions {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 100%;
    padding: 0; 
    gap: 15px;
    flex-shrink: 0;
  }
  
  header > .navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1%;
    padding-top: 2.5%;
    box-sizing: border-box;
}


header > .navigation-bar > button {
  background: none;
  border: none;
  color: #F9EAE1;
  font-family: Commissioner, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s;
}

header > .navigation-bar > button:hover {
  color: #C95600;
}
  
  .logo-link {
    display: inline-block;
    width: 20%;
    cursor: pointer;
    transition: opacity 0.3s;
}

.logo-link:hover {
    opacity: 0.8;
}

.logo-link img {
    width: 100%;
    transform: translateY(10%);
    flex-shrink: 0;
}