:root {
  font-family: Bona Nova, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #073B3A;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  width: 100%;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
  box-sizing: border-box; 
}

body {
  margin: 0;
  display: block;
  place-items: left;
  min-width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: Commissioner, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
  background-color: #C95600;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #073B3A;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

